{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Главная{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3 class="card-title">...</h3>
<div class="card" style="width: 100%;">
    <img src="..." class="card-img-top" alt="..." style="width: 100%;">
    <div class="card-body">
        <p class="card-text">...</p>
    </div>
</div>
<hr/>
<h3 class="card-title">Заявление</h3>
<div class="card" style="width: 100%;">
    <img src="..." class="card-img-top" alt="..." style="width: 100%;">
    <div class="card-body">
        <p class="card-text">...</p>
    </div>
</div>
{% endblock %}